<div class="inner-border">
	<h1>Bienvenue sur Allaiz</h1>	
	<div class="inner_content">
		<%= link_to "Voir les inscrits sur sur Allaiz", users_path %>
		<div class="clear"></div>	


		
	</div>				    
</div>